body {
    /* margin: 0; */
}

.krabica1 {
    border: 2px solid blue;
    border-color: green red orange;
    border-width: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.rodic {
    border: 3px solid magenta;
    height: 200px;
    padding: 15px;
}

.dieta {
    border: 2px solid brown;
    width: 20%;
    height: 50%; 
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
}

p {
    line-height: 1.8;
}

.ramcektextu {
    background-color: yellow;
    border: 2px solid green;
    padding: 1px;
}