.f1 {
    background-color: hsl(150, 100%, 50%);
}

.f2 {
    background-color: hsl(150, 80%, 60%);
}

.f3 {
    background-color: hsl(150, 60%, 70%);
}

.f4 {
    background-color: hsl(150, 40%, 80%);
}

.f5 {
    background-color: hsl(150, 20%, 90%);
}

.velky {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 255, 1);
}

.maly {
    border: 1px solid black;
    height: 100px;
    width: 300px;
    background-color: rgba(255, 234, 0, 0.8);
}

